{{define "menuitems"}}
<li class="nav-item">
  <a class="nav-link" href="/">Registries</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/registry/{{.Registry}}">{{.Registry}}</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/registry/{{.Registry}}/{{.Repository}}">{{.Repository}}</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="/registry/{{.Registry}}/{{.Repository}}/{{.Tag}}">{{.Tag}}</a>
</li>
{{end}}