{{define "content"}}
<div class="container">
    <div class="row">
        <label for="tag">Tag</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="tag-addon">@</span>
            </div>
            <input type="text" class="form-control" value="{{.Tag}}" aria-label="Tag" id="tag" aria-describedby="tag-addon" readonly="readonly">
        </div>
    </div>
    <div class="row">
        <label for="created">Created</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="created-addon">@</span>
            </div>
            <input type="text" class="form-control" value="{{.Created}}" aria-label="Created" id="created" aria-describedby="created-addon" readonly="readonly">
        </div>
    </div>
    <div class="row">
        <label for="docker-version">Docker version</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="docker-version-addon">@</span>
            </div>
            <input type="text" class="form-control" value="{{.DockerVersion}}" aria-label="Docker version" id="docker-version" aria-describedby="docker-version-addon" readonly="readonly">
        </div>
    </div>
    <div class="row">
        <label for="size">Size</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="size-addon">@</span>
            </div>
            <input type="text" class="form-control" value="{{.Size}}" aria-label="Size" id="size" aria-describedby="size-addon" readonly="readonly">
        </div>
    </div>
    <div class="row">
        <label for="layers">Number of layers</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="layers-addon">@</span>
            </div>
            <input type="text" class="form-control" value="{{.Layers}}" aria-label="Number of layers" id="layers" aria-describedby="layers-addon" readonly="readonly">
        </div>
    </div>
    <div class="row">
        <label for="user">User</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="user-addon">@</span>
            </div>
            <input type="text" class="form-control" value="{{.User}}" aria-label="User" id="user" aria-describedby="user-addon" readonly="readonly">
        </div>
    </div>
    <div class="row">
        <label for="ports">Exposed ports</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="ports-addon">@</span>
            </div>
            <input type="text" class="form-control" value="{{.Ports}}" aria-label="Exposed ports" id="ports" aria-describedby="ports-addon" readonly="readonly">
        </div>
    </div>
    <div class="row">
        <label for="volumes">Volumes</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="volumes-addon">@</span>
            </div>
            <input type="text" class="form-control" value="{{.Volumes}}" aria-label="Volumes" id="volumes" aria-describedby="volumes-addon" readonly="readonly">
        </div>
    </div>
    <div class="row">
        <label>Actions</label>
    </div>
</div>
{{end}}