{{define "tagdetails"}}
{{template "header" .}}
<div class="container-fluid">
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Created</th>
            <th scope="col">Docker version</th>
            <th scope="col">Size</th>
            <th scope="col">Number of layers</th>
            <th scope="col">User</th>
            <th scope="col">Exposed ports</th>
            <th scope="col">Volumes</th>
            <th scope="col">Actions</th>
        </tr>
    </theaad>
    <tbody>
        <tr>
            <th scope="row">{{.Tag}}</td>
            <td>{{.Created}}</td>
            <td>{{.DockerVersion}}</td>
            <td>{{.Size}}</td>
            <td>{{.Layers}}</td>
            <td>{{.User}}</td>
            <td>{{.Ports}}</td>
            <td>{{.Volumes}}</td>
            <td>None</td>
        </tr>
    </tbody>
</table>
</div>
{{template "footer" .}}
{{end}}